<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>类别： {{ currentCategoryName }}</h4>
        <hr>


        <!-- unable to close the issure during the last commit message -->


        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <!-- <div class="product-box">
                        <a routerLink="/products/{{ tempProduct.id }}" routerLinkActive="router-link-active">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive" />
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h1>{{ tempProduct.name }}</h1>
                        </a>

                        <div class="price">{{ tempProduct.unitPrice | currency:'USD'}}</div>
                        <button class="btn-primary btn btn-sm" (click)="addToCard(tempProduct)">
                            添加到购物车
                        </button>

                    </div> -->
                    <div class="card" style="width: 18rem;" >
                        <a routerLink="/products/{{ tempProduct.id }}" routerLinkActive="router-link-active">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive card-img-top" />
                        </a>

                        <div class="card-body">
                            <a routerLink="/products/{{ tempProduct.id }}" class="card-link">
                                <p class="card-text">{{ tempProduct.name }}</p>
                            </a>
                            <br>
                            <div class="price">{{ tempProduct.unitPrice | currency:'CNY'}}</div>
                            <button class="btn-primary btn btn-sm" (click)="addToCard(tempProduct)">
                                添加到购物车
                            </button>
    
    
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a routerLink="/products/{{ tempProduct.id }}" class="card-link">
                                    <p class="card-text">{{ tempProduct.name }}</p>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <div class="price">{{ tempProduct.unitPrice | currency:'CNY'}}</div>
                            </li>
                            <li class="list-group-item">
                                <button class="btn-primary btn btn-sm" (click)="addToCard(tempProduct)">
                                    添加到购物车
                                </button>
                            </li>
                          </ul> -->
                      </div>
                </div>

                <!-- if products empty display a message  -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    没有找到商品
                </div>

            </div>

            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">

                                <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [maxSize]="5"
                                    [boundaryLinks]=true [collectionSize]="theTotalElements"
                                    (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>

                            <div class="col-md-3" style="text-align: right;">
                                <span class="mr-2">Page</span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>

                    </div>

                </div>
            </div>
            <!-- end footer -->



        </div>
    </div>


</div>