<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        欢迎回来 {{ userFullName }}!
    </div>

    <!-- if not login, login -->
    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">登录</button>

    <!-- if login, dislay logout -->
    <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">登出</button>
    <button *ngIf="isAuthenticated"  routerLink="/members"  class="security-btn">会员</button>
    <button *ngIf="isAuthenticated"  routerLink="/orders"  class="security-btn">订单</button>

</div>